In [18]:
import pandas as pd
from pymongo import MongoClient

In [2]:
headers = ['symbol', 'current_price', 'pe_ratio', 'eps_ratio', 'market_cap', 'day_change', 'week_change', 'half_year_change', 
            'year_change', 'free_cach_flow_change_1y', 'free_cach_flow_change_2y', 'free_cach_flow_change_3y', 
            'revenue_change_1y', 'revenue_change_2y', 'revenue_change_3y']

data = pd.read_csv('test.csv', names = headers)# Connect to MongoDB
data.head()

,symbol,current_price,pe_ratio,eps_ratio,market_cap,day_change,week_change,half_year_change,year_change,free_cach_flow_change_1y,free_cach_flow_change_2y,free_cach_flow_change_3y,revenue_change_1y,revenue_change_2y,revenue_change_3y
0,BE,20.51,-1.0,-1.63,4.460,4.92,12.20,14.39,-16.42,179.25,-19.18,-221.29,179.25,-19.18,-221.29
1,FIVN,72.54,-1.0,-1.34,5.372,5.79,15.45,-5.76,-37.73,-338.10,-137.23,15.28,-338.10,-137.23,15.28
2,BB,4.61,-1.0,-0.57,2.775,15.46,20.05,0.66,-31.70,323.88,-276.32,-311.11,323.88,-276.32,-311.11
3,TWKS,7.23,-1.0,-0.33,2.289,5.09,1.83,-24.77,-65.46,-29.65,-16.28,941.81,-29.65,-16.28,941.81
4,W,34.76,-1.0,-12.44,3.880,7.11,1.52,13.48,-68.72,-970.77,-87.99,-281.08,-970.77,-87.99,-281.08

In [3]:
data['price_after'] = 0
data.head()

,symbol,current_price,pe_ratio,eps_ratio,market_cap,day_change,week_change,half_year_change,year_change,free_cach_flow_change_1y,free_cach_flow_change_2y,free_cach_flow_change_3y,revenue_change_1y,revenue_change_2y,revenue_change_3y,price_after
0,BE,20.51,-1.0,-1.63,4.460,4.92,12.20,14.39,-16.42,179.25,-19.18,-221.29,179.25,-19.18,-221.29,0
1,FIVN,72.54,-1.0,-1.34,5.372,5.79,15.45,-5.76,-37.73,-338.10,-137.23,15.28,-338.10,-137.23,15.28,0
2,BB,4.61,-1.0,-0.57,2.775,15.46,20.05,0.66,-31.70,323.88,-276.32,-311.11,323.88,-276.32,-311.11,0
3,TWKS,7.23,-1.0,-0.33,2.289,5.09,1.83,-24.77,-65.46,-29.65,-16.28,941.81,-29.65,-16.28,941.81,0
4,W,34.76,-1.0,-12.44,3.880,7.11,1.52,13.48,-68.72,-970.77,-87.99,-281.08,-970.77,-87.99,-281.08,0

In [4]:
data.to_csv('test2.csv', index = False, mode='a', header=False)

In [16]:
for index in data.index:
    print(data['price_after'][index] == 0 )

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [19]:
client =  MongoClient("mongodb+srv://prosowiec:ATLASSTOCKDATA@stockdata.olon5zx.mongodb.net/?retryWrites=true&w=majority")
db = client['stockdata']
collection = db['stonks']

In [44]:
data = pd.DataFrame(list(collection.find()))

In [45]:
data

,_id,symbol,current_price,pe_ratio,eps_ratio,market_cap,day_change,week_change,half_year_change,year_change,free_cach_flow_change_1y,free_cach_flow_change_2y,free_cach_flow_change_3y,revenue_change_1y,revenue_change_2y,revenue_change_3y,price_after
0,64284d399ead2017875f80d9,BE,20.51,-1.00,-1.63,4.460,4.92,12.20,14.39,-16.42,179.25,-19.18,-221.29,179.25,-19.18,-221.29,19.93
1,64284d399ead2017875f80da,FIVN,72.54,-1.00,-1.34,5.372,5.79,15.45,-5.76,-37.73,-338.10,-137.23,15.28,-338.10,-137.23,15.28,72.29
2,64284d399ead2017875f80db,BB,4.61,-1.00,-0.57,2.775,15.46,20.05,0.66,-31.70,323.88,-276.32,-311.11,323.88,-276.32,-311.11,4.56
3,64284d399ead2017875f80dc,TWKS,7.23,-1.00,-0.33,2.289,5.09,1.83,-24.77,-65.46,-29.65,-16.28,941.81,-29.65,-16.28,941.81,7.36
4,64284d399ead2017875f80dd,W,34.76,-1.00,-12.44,3.880,7.11,1.52,13.48,-68.72,-970.77,-87.99,-281.08,-970.77,-87.99,-281.08,34.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,64284d399ead2017875f814f,WXXWY,12.36,47.54,0.26,26.112,-2.60,0.00,-8.44,-27.08,-66.26,-25.38,104.46,-66.26,-25.38,104.46,NaN
119,64284d399ead2017875f8150,GNRC,108.88,19.62,5.55,6.910,-2.76,-2.10,-29.42,-63.83,-109.19,-29.04,71.07,-109.19,-29.04,71.07,NaN
120,64284d399ead2017875f8151,BILI,23.79,-1.00,-3.12,9.106,-4.99,-0.46,53.98,-13.87,326.29,8.43,0.00,326.29,8.43,0.00,NaN
121,64284d399ead2017875f8152,NPNYY,4.65,1.24,3.74,11.783,-5.97,-8.46,34.78,-15.25,450.29,-362.19,0.00,450.29,-362.19,0.00,NaN
122,64284d399ead2017875f8153,GNZUF,0.61,4.36,0.14,13.879,-4.47,-1.61,-11.59,-23.75,-40.47,24.91,-9.62,-40.47,24.91,-9.62,NaN

In [74]:
res_df = pd.DataFrame()
for i in data.index:
    if pd.isnull(data.loc[i, 'price_after']):
        res_df = pd.concat([res_df,data.loc[i]],ignore_index = True, axis=1)

In [76]:
res_df = res_df.T
res_df

,_id,symbol,current_price,pe_ratio,eps_ratio,market_cap,day_change,week_change,half_year_change,year_change,free_cach_flow_change_1y,free_cach_flow_change_2y,free_cach_flow_change_3y,revenue_change_1y,revenue_change_2y,revenue_change_3y,price_after
0,64284d399ead2017875f80df,KC,8.95,-1.0,-1.57,2.376,13.87,42.29,326.19,45.06,5.03,-23.26,30.81,5.03,-23.26,30.81,NaN
1,64284d399ead2017875f80e0,RPD,45.4,-1.0,-2.14,2.745,9.71,12.68,6.17,-59.62,16.04,-332.99,-59.27,16.04,-332.99,-59.27,NaN
2,64284d399ead2017875f80e1,CAR,196.1,3.47,56.45,7.74,4.44,9.13,11.66,-24.74,-9.61,38.86,-54.47,-9.61,38.86,-54.47,NaN
3,64284d399ead2017875f80e2,S,16.2,-1.0,-1.36,4.607,6.16,10.66,-38.96,-58.33,-8.57,100.32,45.37,-8.57,100.32,45.37,NaN
4,64284d399ead2017875f80e3,NVCR,60.83,-1.0,-0.87,6.554,4.43,6.4,-25.22,-30.61,-83.9,-30.4,421.72,-83.9,-30.4,421.72,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,64284d399ead2017875f814f,WXXWY,12.36,47.54,0.26,26.112,-2.6,0.0,-8.44,-27.08,-66.26,-25.38,104.46,-66.26,-25.38,104.46,NaN
113,64284d399ead2017875f8150,GNRC,108.88,19.62,5.55,6.91,-2.76,-2.1,-29.42,-63.83,-109.19,-29.04,71.07,-109.19,-29.04,71.07,NaN
114,64284d399ead2017875f8151,BILI,23.79,-1.0,-3.12,9.106,-4.99,-0.46,53.98,-13.87,326.29,8.43,0.0,326.29,8.43,0.0,NaN
115,64284d399ead2017875f8152,NPNYY,4.65,1.24,3.74,11.783,-5.97,-8.46,34.78,-15.25,450.29,-362.19,0.0,450.29,-362.19,0.0,NaN
116,64284d399ead2017875f8153,GNZUF,0.61,4.36,0.14,13.879,-4.47,-1.61,-11.59,-23.75,-40.47,24.91,-9.62,-40.47,24.91,-9.62,NaN

In [2]:
import os
print(os.environ.get('con_string'))

None